<%- include('header') -%>
  <div id="root"><%- initialMarkup -%></div>

  <script type="text/javascript">
    window.initialData = <%- JSON.stringify(initialData) -%>;
     console.log('data from ejs');
    console.log(window);
  </script>
<%- include('footer') -%>